<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.d9tilov.moneymanager.statistics">

    <dist:module
        dist:instant="true"
        dist:title="@string/feature_statistics">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

